html(lang='en')
  include includes/head
  body
    .wrapper
      include includes/message
      include includes/settings
      .game
        .info
          .title
            h1 2048
          .sound
            #sound-icon.bg-no-sound
          .score
            p score
            span#scoreNum 0
          .new-game-btn
            span new game
        .table
          - var rowCell = 0
          while rowCell<4
            - ++rowCell
            - var colCell = 0
            while colCell<4
              - ++colCell
              .table__cell(id=`${rowCell}-${colCell}`)
