::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

html {
  position: fixed;
  overflow: hidden;
  color: $white;
  background-color: $teal;
  touch-action: none;
  -ms-overflow-style: none;
  scrollbar-width: none;

  @include MW1024 {
    font-size: 8px;
  }

  @include MW768 {
    font-size: 6px;
  }

  @include MW414 {
    font-size: 5px;
  }

  @include MW320 {
    font-size: 4px;
  }

  @include L823 {
    font-size: 6px;
  }
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: $main-font;
  background-color: $teal;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $teal;
}

.game {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 65rem;
  height: 100%;
  overflow: hidden;
  background-color: $teal;

  @include L823 {
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 100%;
  }

  @include MW414 {
    max-width: 75rem;
  }

  &:hover {
    cursor: pointer;
  }
}

.table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: $main-container;
  height: $main-container;
  background-color: #fff;
  border: solid $white 0.6rem;
  border-radius: 3%;
  box-shadow: 0.5rem 0.5rem 2rem black;

  &__cell {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(169 169 169);
    border: solid $white 0.6rem;
    border-radius: 7%;
  }

  @include MW414 {
    width: 70rem;
    height: 70rem;
  }

  @include L823 {
    width: 50rem;
    height: 50rem;
  }
}
