.message {
  position: absolute;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  color: $black;
  font-weight: 800;
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  background-color: $grey;
  border-radius: 2rem;
  opacity: 0.9;
  transition: 1s;

  span {
    padding: 2rem;
    font-size: 2.5rem;
  }

  button {
    padding: 1rem 4rem;
    color: $black;
    font-weight: 800;
    font-size: 2rem;
    text-transform: uppercase;
    border: 0.2rem solid $black;
  }
}

.question-icon {
  position: absolute;
  top: 2%;
  right: 3%;
  z-index: 1;
  font-size: 4rem;
}

.question-content {
  position: absolute;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 100rem;
  height: 80%;
  padding: 0 2rem;
  color: $black;
  font-size: 4rem;
  line-height: 8rem;
  text-align: center;
  background-color: $grey;
  border: 0.3rem solid $black;
  border-radius: 4px;
  transition: 0.2s;

  &:hover {
    cursor: pointer;
  }

  span {
    font-weight: 800;
    text-transform: uppercase;
  }

  i {
    margin-left: 1rem;
    padding: 1rem;
    color: #fff;
    font-size: 2rem;
    background: $fb;
    border-radius: 2px;
  }

  p {
    font-size: 3.5rem;
  }

  .mail {
    a {
      display: flex;
      align-items: center;
      margin-top: 3rem;
      padding: 1rem 2rem;
      font-weight: 800;
      font-size: 3rem;
      border: 0.3rem solid $black;
    }
  }
}

.ie {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1000000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-size: 4rem;
  background-color: $teal;
}

.hide {
  z-index: -1;
  opacity: 0;
  transition: 0.3s;
}
