$main-font: "Orbitron", sans-serif;
$teal: #2ea89c;
$cyan: #00bcd4;
$brown: #795548;
$lime: #b4c237;
$green: #4caf50;
$orange: #ff9800;
$purple: #9c27b0;
$deeppurple: #673ab7;
$grey: #ffffffea;
$amber: #ffc107;
$bluegrey: #607d8b;
$black: #000;
$red: #f44336;
$pink: #ff4081;
$white: #fff;
$fb: #4267b2;
